.productTitle {
    margin-right: 150px;
}

.productTitle:after {
    content: " ";
    position: absolute;
    flex-grow: 1;
    border-bottom: 1px solid #eee;
    min-width: 100%;
    bottom: 2px;
    right: 0;
    z-index: -1;
}

.customDots {
    /*background-color: green;*/
    /*opacity: 10%;*/
    display: flex;
    align-items: end;
    gap: 10px;
    height: 20px;
}


.customDots li {
    background-color: #c0d0e7;
    width: 5px;
    height: 5px;
    /*border: 1px solid  #c0d0e7;*/
}